@import '../../node_modules/rupture/rupture'
@import './core/*'
@import './components/*'
@import './layout/*'

p, span, a, h1, h2, h3
  color $very-dark-blue-text

body
  background-color $very-light-grey


