$dark-blue = hsl(209, 23%, 22%)
$very-dark-blue-background = hsl(207, 26%, 17%)
$very-dark-blue-text = hsl(200, 15%, 8%)
$dark-grey = hsl(0, 0%, 52%)
$very-light-grey = hsl(0, 0%, 98%)
$white = hsl(0, 0%, 100%)

$box-shadow = 0px 2px 4px 0px rgba(150,150,150,0.1);
