.card
  background-color $white
  box-shadow $box-shadow
  border-radius 8px
  overflow hidden
  width 264px
  &-flag
    img
      width 100%
  &-content
    padding 20px 24px 40px
    h2
      font-size 20px
      margin-bottom 16px
    p
      span
        font-weight 600

.dark
  .card
    background-color $dark-blue
    box-shadow $box-shadow-dark
