.search
  align-items center
  border-radius 4px
  box-shadow: $box-shadow
  display flex
  padding 16px 24px
  &-icon
    color $dark-grey
    font-size 20px
    margin-right 20px
    visibility visible
  &-input
    border none
    color $dark-grey
    outline none
    font-family 'Nunito Sans'
    font-size 14px
    font-weight 600
