.v-select
  margin 40px
  .vs__search
    font-family 'Nunito Sans'
  .vs__dropdown-toggle
    border none
    box-shadow: $box-shadow
    padding 14px 24px
  .vs__dropdown-menu
    border none
    box-shadow $box-shadow
    top calc(100% + 8px)
    .vs__dropdown-option--highlight
      background $dark-grey
